body {
   making the background color yellow
  background-color: yellow;
}
/*
h1 {
  color: blue;
  margin-left: 20px;
  size: 3in 6in;
}
div{
  border-color: #FF0000 rgb(255, 192, 105) hsla(60, 90%, 50%, .8);
  border-style: double;
  border-width: thick;
  border-radius: 25% 10%;
}*/
p {
  color: red;
  text-indent: 10px;
  text-transform: uppercase;
  margin-left: 30px;
}
#thursday {
  color: blue;
   margin-left: 20px;
}
#friday {
  color: purple;
  margin-left: 20px
}
#saturday{
  color: brown;
  margin-left: 20px;
}/*
h3 {
  color: blue;
  margin-left: 20px;
}
h4 {
  color: blue;
  margin-left: 20px
}
h5{
  color: blue;
  margin-left: 20px;
}*/

